-- Función mejorada para generar tiques por estado (versión que devuelve los datos)
CREATE OR REPLACE FUNCTION public.generar_tiques_por_estado(
    p_sorteo_id INTEGER,         -- ID del sorteo
    p_prefijo VARCHAR(10) DEFAULT 'TIQ'  -- Prefijo para los tiques
)
RETURNS TABLE(
    mensaje TEXT,
    total_generados INTEGER,
    tiques_por_estado JSON,
    datos_participantes JSON
) AS $$
DECLARE
    v_total_tiques INTEGER := 0;
    v_numero_tique INTEGER := 1;
    v_estado_record RECORD;
    v_tiques_por_estado JSONB := '{}';
    v_datos_participantes JSONB := '[]';
    v_cant_participantes INTEGER;
    v_fecha_actual TIMESTAMP := NOW();
    v_sorteo_existe BOOLEAN;
    v_participante RECORD;
    v_participante_json JSONB;
BEGIN
    -- Verificar si el sorteo existe
    IF p_sorteo_id IS NOT NULL THEN
        SELECT EXISTS(SELECT 1 FROM sorteos WHERE id = p_sorteo_id) INTO v_sorteo_existe;
        IF NOT v_sorteo_existe THEN
            RAISE EXCEPTION 'El sorteo con ID % no existe', p_sorteo_id;
        END IF;
    END IF;

    -- Obtener cantidad de participantes por estado
    CREATE TEMP TABLE IF NOT EXISTS temp_conteo_estados AS
    SELECT 
        cod_estado, 
        COUNT(*) as cantidad 
    FROM 
        public.re_723 
    GROUP BY 
        cod_estado
    ORDER BY
        cod_estado;
    
    -- Obtener cantidad total de participantes
    SELECT SUM(cantidad) INTO v_cant_participantes FROM temp_conteo_estados;
    
    -- Si no hay participantes, retornar mensaje de error
    IF v_cant_participantes IS NULL OR v_cant_participantes = 0 THEN
        DROP TABLE IF EXISTS temp_conteo_estados;
        RETURN QUERY SELECT 
            'No se encontraron participantes en la tabla re_723'::TEXT, 
            0::INTEGER, 
            '{}'::JSON,
            '[]'::JSON;
        RETURN;
    END IF;
    
    -- Por cada estado distribuir tiques
    FOR v_estado_record IN SELECT cod_estado, cantidad FROM temp_conteo_estados ORDER BY cod_estado LOOP
        -- Guardar cantidad de tiques por estado en el JSON
        v_tiques_por_estado := v_tiques_por_estado || jsonb_build_object(v_estado_record.cod_estado, v_estado_record.cantidad);
        
        -- Para cada participante en el estado, asignar un tique
        FOR v_participante IN 
            SELECT 
                nac || cedula_ch AS cedula,
                p_nombre AS nombre,
                p_apellido AS apellido,
                cod_estado AS estado,
                cod_municipio AS municipio,
                cod_parroquia AS parroquia,
                telefono,
                '' AS email -- campo vacío para email
            FROM 
                public.re_723
            WHERE 
                cod_estado = v_estado_record.cod_estado
            ORDER BY 
                RANDOM() -- Ordenar aleatoriamente para distribución justa
        LOOP
            -- Generar código de tique
            -- Formato: PREFIJO-ESTADO-NUMERO (ej: TIQ-01-00001)
            v_participante.prefijo_tique := p_prefijo;
            v_participante.numero_tique := v_numero_tique;
            v_participante.codigo_tique := p_prefijo || '-' || 
                                          LPAD(v_participante.estado, 2, '0') || '-' || 
                                          LPAD(v_numero_tique::TEXT, 5, '0');
            
            -- Agregar datos del participante al JSON
            v_participante_json := jsonb_build_object(
                'cedula', v_participante.cedula,
                'nombre', v_participante.nombre,
                'apellido', v_participante.apellido,
                'estado', v_participante.estado,
                'municipio', v_participante.municipio,
                'parroquia', v_participante.parroquia,
                'telefono', v_participante.telefono,
                'email', v_participante.email,
                'prefijo_tique', v_participante.prefijo_tique,
                'numero_tique', v_participante.numero_tique,
                'codigo_tique', v_participante.codigo_tique
            );
            
            v_datos_participantes := v_datos_participantes || v_participante_json;
            
            -- Incrementar contador de tiques
            v_numero_tique := v_numero_tique + 1;
            v_total_tiques := v_total_tiques + 1;
        END LOOP;
    END LOOP;
    
    -- Insertar en tabla participantes del sistema si se proporciona ID de sorteo
    IF p_sorteo_id IS NOT NULL AND p_sorteo_id > 0 THEN
        INSERT INTO participantes (
            sorteo_id, nombre, apellido, documento_identidad, 
            estado, municipio, parroquia, telefono, email,
            prefijo_tique, numero_tique, codigo_tique, 
            tique_asignado, fecha_asignacion_tique, 
            validado, fecha_creacion, fecha_registro
        )
        SELECT 
            p_sorteo_id,
            p_nombre,
            p_apellido, 
            nac || cedula_ch,
            cod_estado,
            cod_municipio, 
            cod_parroquia, 
            telefono,
            '', -- email vacío
            p_prefijo,
            ROW_NUMBER() OVER (ORDER BY RANDOM()),
            p_prefijo || '-' || LPAD(cod_estado, 2, '0') || '-' || LPAD((ROW_NUMBER() OVER (ORDER BY RANDOM()))::TEXT, 5, '0'),
            TRUE,
            v_fecha_actual,
            TRUE,
            v_fecha_actual,
            v_fecha_actual
        FROM 
            public.re_723;
        
        -- Actualizar el conteo de participantes en el sorteo
        UPDATE sorteos 
        SET metadata = COALESCE(metadata, '{}'::jsonb) || 
                      jsonb_build_object(
                          'total_participantes', v_total_tiques,
                          'tiques_por_estado', v_tiques_por_estado,
                          'ultima_actualizacion', v_fecha_actual
                      )
        WHERE id = p_sorteo_id;
    END IF;
    
    -- Limpiar tabla temporal
    DROP TABLE IF EXISTS temp_conteo_estados;
    
    -- Retornar resultados
    RETURN QUERY SELECT
        'Se generaron ' || v_total_tiques || ' tiques distribuidos entre ' || 
        (SELECT COUNT(DISTINCT cod_estado) FROM public.re_723) || ' estados' AS mensaje,
        v_total_tiques AS total_generados,
        v_tiques_por_estado::JSON AS tiques_por_estado,
        v_datos_participantes::JSON AS datos_participantes;
END;
$$ LANGUAGE plpgsql;